@font-face{
    font-family: Sand-Medium;
    src: url('../css/static/Quicksand-Medium.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: Sand-Bold;
    src: url('../css/static/Quicksand-Bold.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: Sand-Light;
    src: url('../css/static/Quicksand-Light.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: Sand-Regular;
    src: url('../css/static/Quicksand-Regular.ttf');
    font-weight: normal;
    font-size: normal;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Sand-Medium;
    font-size: 16px;
}
.test{
    font-size: 1.5em;
    font-family: Sand-Bold;
}
.header-menu nav ul{

    text-align: center;
}
.header-menu nav ul li{
    display: inline-block;
    padding: 7px 15px;
}
.header-menu nav ul li a{
    text-decoration: none;
    color: #000000;
    padding-bottom: 2px
}
.header-menu nav ul li:hover a{
    border-bottom: 1px solid #000000;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    color: black;
    background-color: #fff;
    z-index: 1000;
}
.footer{
    margin-top: 45px;
    padding-top: 30px;
    border-top: 1px solid #898686;
}
.footer-item{
    text-align: left;
}
.footer-second-row{
    margin-top:30px
}
.footer-item h3{
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 1em;
    font-family: Sand-Bold;
}
.footer-item ul li{
    display: block;
    font-size: 1em;
    padding-bottom: 5px;
    
}
.footer-item ul li a{
    text-decoration: none;
    color: #000000;
}
.footer-item input{
    height: 60px;
    width: 200% !important;
}
.footer-item .btn-footer{
    height: 60px;
    width: 100%;
    background-color: #000;
    color: #fff;
}
.footer-item .footer-follow{
    width: 50px;
    height: 50px;
    float: left;
    padding-left:3px
}
.footer-item .footer-follow img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
/* .line-footer{
    margin-top: 30px;
    height: 0.000000001px;
    border: 0.5px solid #000 ;
} */
/* body */
.body-intro{
    width: 100%;
    height: 530px;
    overflow: hidden;
    box-sizing: border-box;
}
.body-intro img{
    width: 100%;
    height: 100%;
    /* overflow: hidden;
    box-sizing: border-box; */
}
.home-item{
    margin-top: 30px;
    background-color: #ECECFF;
    border-radius: 5px;
    width: 100% ;
    height: 360px;
    position: relative;
    
}
.home-text{
    position: absolute;
    height: 340px;
    width: 340px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;

    padding-top: 100px;
    
    margin-left: 10px;
    /* margin-right: 20px; */

     margin-top: 10px;

}
.home-text h3{
    font-size: 35px;
    padding-bottom: 5px;
    color: #000;
}

.home-text h3  a{
    font-size: 35px;
    color: #000;
    text-decoration: none;
    border-bottom: 4px solid #C4C4C4;
}
.home-item:hover .home-text{
    width: 100% ;
    height: 360px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-top: 110px;
    background-color: #dedeff;
}
/* shopbylook */
.shop-breadcrumb .breadcrumb{
    background-color: #fff;
}
.shop-breadcrumb ol li{
    font-style: italic;
    font-size: 24px;
}
.shop-breadcrumb ol li a{
    color: #000;
}
.shop-search input{
    margin-top: 7px;
    width: 400px !important;
    /* height: 50px; */
}
.shop-img{
    margin-bottom: 30px;
    height: 650px;
    width: 100%;
}
.shop-img img{
    width: 100%;
    height: 100%;
}
 /* arrival */
 .product-thumbnail{
     margin-bottom: 45px;
}
.product-thumbnail a{
    color: #000;
    text-decoration: none;
}
.product-img{
    position: relative;
}
.product-img img{
    width: 100%;
    height: 260px;
}
.product-on-pic{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #FC4242;
    color: #030303;
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-family: Sand-Bold;
    font-style: italic;
}
.product-detail span{
    /* padding-top:5px; */
    display: block;
}
.product-name{
    font-size: 20px;
    font-family: Sand-Bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.product-price-row span{
    display: inline-block;
    font-size: 16px;
    font-family: Sand-Light;
}
.product-old-price{
    text-decoration-line: line-through;
    padding-right: 7px;
}
.product-color{
    margin-top: 7px;
}
.product-color span{
    display: inline-block;
}
.product-dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
}
.dot-white{
    border: 0.5px solid black;

    /* test-color */
}
.green{
    background-color: #2A4239;
}
.pink{
    background: #C2877D;
}
.brown{
    background-color: #684939;
}
.brown-light{
    background-color: #79513B;
}
.black{
    background-color: #000;
}
/* about */
.about-intro{
    text-align: justify;
    margin-top: 45px;
    margin-bottom: 30px;
}
.about-intro span{
    font-size: 25px;
    font-family: Sand-Light;
    
}
.about-divider{
    position: relative;
}
.about-divider span{
    font-family: Sand-Bold;
    font-size: 36px;
    text-transform: uppercase;
    /* position: absolute; */
    padding-left: 50px;
}
.about-divider span::before{
    position: absolute;
    height: 1px;
    content: "";
    background: #000;
    width: 1000px;
    top: 50%;
    right: 60%;
}
.about-divider span::after{
    position: absolute;
    height: 1px;
    content: "";
    background: #000;
    width: 475px;
    top: 50%;
    left: 64%;
}
.about-content{
    margin-top: 30px;
    margin-bottom: 60px;
}
.about-pic{
    width: 100%;
    
}
.about-pic img{
    width: 100%;
    border-radius: 15px;
}
.about-text span{
    display: block;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: Sand-Light;
}
/* item */
.item-divider{
    margin-top: 200px;
    position: relative;
    margin-bottom: 45px;
}
.item-divider span{
    
    font-size: 30px;
    text-transform: uppercase;
    /* position: absolute; */
    padding-left: 50px;
}
.item-divider span::before{
    position: absolute;
    height: 1px;
    content: "";
    background: #000;
    width: 1000px;
    top: 50%;
    right: 65%;
}
.item-divider span::after{
    position: absolute;
    height: 1px;
    content: "";
    background: #000;
    width: 409px;
    top: 50%;
    left: 69%;
}
.detail-img{
    width: 100%;
    height: 450px;
}
.detail-img img{
    width: 100%;
    height: 100%;
}
.items{
    border: 0.5px solid #000000;
}
.detail-name{
    margin-top: 90px;
}
.detail-name span{
    font-size:30px;
    font-family: Sand-Bold;

}
.detail-price{
    margin-top: 15px;
}
.detail-price span{
    font-size: 30px;
    font-family: Sand-Light;
}
.item-dot{
    margin-top: 15px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}
.detail-size{
    
}
.detail-size .form-control{
    margin-top: 15px;
    font-size: 20px;
    height: 60px;
    width: 100%;
    /* padding-right: 30px; */
}
.detail-size option{
    font-size: 20px;
}
.detail-size .form-control-2{
    margin-top: 15px;
    font-size: 20px;
    height: 60px;
    width: 36%;
    /* float: left !important; */
}

.detail-describe{
    margin-top: 15px;
    text-align: justify;
}
.detail-describe span{
    font-size: 16px;
}
.detail-img-2{
    margin-top: -50px;
    width: 100%;
    height: 500px;
}
.detail-img-2 img{
    width: 100%;
    height: 100%;
}
.divider-2{
    margin-top: 0px;
}
.btn-add-to-cart, .btn-add-to-cart a{
    padding: 7px 15px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 24px;
    height: 75px;
    width: max-content;
    border-bottom: 1px grey;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    text-decoration: none;

}